.main-container{
    background-image: url("../../../assets/images/backgr.svg");
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover;
    
}
.child-box{
    display: grid;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(20px);
    width: 600px;
    height: 100vh;

}
.verification{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    
}

.icon-button{
    cursor: pointer;
    border-radius: 30px;
    font-size: 16px;
    width: 150px;
    height: 50px;
    justify-content: center;
    display: flex;
    gap: 16px;
    align-items: center;
    background-color: rgb(47,79,79);
    
}
 label {
        font-family: 'Roboto', sans-serif;
        color:#525233;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
    }
a{
    font-family: 'Roboto', sans-serif;
}
.input-form{
    height: 50px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.11);
    border: none;
    width: 380px;
    padding-left: 20px;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}
.input-for-display{
    display: flex;
    justify-content: center;
}
.inside-container{
 margin: auto;
}
.grid-content{
    display: grid;
    row-gap: 40px; 
}
.parent-button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.activ{
    color:#525233;
}
.color{
    color: white;
    transition-duration: 0.3s; 
}
.color:hover {
    color: cornflowerblue;
}
.register-child{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    justify-content: center; 
}

/* Laptops */
@media only screen and (max-width:992px){}

/* Tablets */
@media only screen and (max-width:768px){}

/* Tablets */
@media only screen and (max-width:576px){}